@media screen and (max-width:428px) {
    body {
        margin: 0;
        padding: 0;
    }

    .container {

        border: 1px solid silver;
        border-radius: 5px;
        width: fit-content;
        height: auto;
        margin: 25px;
    }

    .flex {
        height: 6vh;
    }

    .pic {
        display: none;
    }

}